{% extends 'base.html' %}

{% block css %}

       
{% endblock %}

{% block content %}


<article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <a href="{% url 'app_blog:home' %}" class="btn btn-primary">Atras</a>
                    <h2 class="section-heading">{{post.titulo}}</h2>

                    
                    <h5 class="section-heading">Posted by {{post.autor}}</h5>
                    <h3 class="section-heading">{{post.fecha}}</h3>

                    <p>{{post.contenido}} </p>

                    
                    
                </div>
            </div>
        </div>
    </article>


{% endblock %}

{% block scripts %}
   

{% endblock %}